
<div class="row content">
    <div class="col-sm-4 sticky">
        <app-pastrie-details 
            [pastrie]="selectedPastrie" 
            [prefered]="isPastriePrefered(selectedPastrie)"
            [disablePreference]="isPreferenceDisabled()"
            (hideMe)="onPastrieChoice()"
            (changePreference)="onPastrieChoice()"></app-pastrie-details>
    </div>
    <div class="col-sm-8 pastrie">
        <app-paginate [pastries]="allPastries"></app-paginate>
        <!--  <button type="button" class="btn btn-lg btn-danger">You are in an anonymous mode.</button> -->
        
        <ul *ngIf="pastries" class="list-inline">
            <app-pastrie-inline 
                *ngFor="let pastrie of pastries" [pastrie]="pastrie"
                (mouseenter)="onSelect(pastrie)"></app-pastrie-inline>
        </ul>
        <app-paginate></app-paginate>
    </div><!-- .pastrie -->

</div>