<!-- <main class="main">
<section class="featured-article">
    <img [src]="article.imageUrl" alt="{{ article.title }}">
    <div class="article-content">
        <h2 class="article-title">{{ article.title }}</h2>
        <em>{{ article.author.name }}</em>
        <p class="article-summary">{{ article.summary }}</p>
        <a href="#">Lire plus</a>
    </div>
</section>
<section class="article-columns">
    <article *ngFor="let articleItem of allArticles" class="article-column">
        <a href="#">
            <img [src]="articleItem.imageUrl" alt="{{ articleItem.title }}">
            <h2 class="article-title">{{ articleItem.title }}</h2>
        </a>
    </article>
</section>
</main> -->