.glyph-icon {
    width: 16px;
    margin: 0 12px;
}

div.card {
    cursor: pointer;
}

.tagSweet {
    background-color: rgba(128, 255, 0, 0.837);
}

.tagYummy {
    background-color: rgba(246, 58, 242, 0.956);
}

.tagChocolate {
    background-color: rgb(62, 30, 13);
}

.tabRaspberry {
    background-color: rgb(237, 112, 172);
}

.tagPear {
    background-color: rgb(94, 233, 112);
}

.tagFruits {
    background-color: rgb(237, 176, 34);
}

.tagBananas {
    background-color: rgb(184, 220, 25);
}

.tagDessert {
    background-color: rgb(32, 68, 175);
}